body {
    background-color: #2E2B5F;
    color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #DC143C;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu a, nav .log-reg-cuenta a {
    color: #F5F5F5;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav .menu a:hover, nav .log-reg-cuenta a:hover {
    color: yellow;
}

main {
    text-align: center;
    margin: 20px;
}

.imgInicio img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    margin: 20px 0;
    font-size: 2em;
    color: yellow;
    text-transform: uppercase;
}

main .noticias-destacadas .noticias {
    padding: 15px;
    text-align: center;
}

main .noticias img{
    width: 55%;
    height: auto;
    border-radius: 10px;
}

main .noticias-destacadas .noticias img {
    width: 55%;
    height: auto;
    border-radius: 10px;
}


main .noticias-destacadas .noticias h3 {
    font-size: 1.5em;
    color: yellow;
    margin: 0 0 10px 0;
}

main .noticias-destacadas .noticias p {
    font-size: 1em;
    color: #D3D3D3;
    margin-bottom: 10px;
}

main .noticias-destacadas .noticias .leer-mas {
    color: #DC143C;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

main .noticias-destacadas .noticias .leer-mas:hover {
    color: yellow;
}

section#about-us {
    background-color: #DC143C;
    color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #1C1B3A;
    color: #F5F5F5;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #DC143C;
}

footer .redes {
    margin-top: 10px;
}

footer .redes a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

footer .redes a:hover {
    transform: scale(1.2);
}

footer .redes img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


main .tienda {
    text-align: center;
    margin: 20px;
}

main .tienda h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

main .tienda .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .tienda .productos .producto {
    flex: 0 1 30%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main .tienda .productos .producto .descripcion-producto {
    text-align: left;
    padding-left: 20px;
}

main .tienda .productos .producto .descripcion-producto li{
    margin: 10px 0;
}

main .tienda .productos .producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main .tienda .productos .producto h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

main .tienda .productos .producto p {
    font-size: 1em;
    margin: 10px 0;
}

main .tienda .productos .producto .precio {
    font-size: 1.2em;
    color: #DC143C;
    font-weight: bold;
}

main .tienda .productos .producto button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #DC143C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main .tienda .productos .producto button:hover {
    background-color: #a00;
}
